<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show ALl Users</title>
    <link rel="stylesheet" type = "text/css" href= "{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <h1>All Users</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for user in template_users%}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{user["first_name"]}} {{user["last_name"]}}</td>
                        <td>{{user["email"]}}</td>
                        <td>{{user["created_at"]}}</td>
                        <td><a class = "btn btn-primary" href= "/users/{{user['user_id']}}">Show</a></td>
                        <td><a class = "btn btn-warning" href= "/users/{{user['user_id']}}/edit">Edit</a></td>
                        <td><a class = "btn btn-danger" href= "/users/{{user['user_id']}}/delete">Delete</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <a class = "btn btn-primary" href="/users/new">Add a new user</a>
    </div>


</body>

</html>