<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1>Counter</h1>
        <h3># of times this page has been viewed: {{template_counter}}</h3>
        <h3>Actual Views of this page: {{template_actual_counter}}</h3>
        <a href="/destroy">Reset Count</a>
        <a href="/addtwo">Add 2 Views to Count</a>
        <form action="/adduserinput" method = "POST">
            <label for="numINput">Increase by this amount</label>
            <input type="number" name="numInput" id="numInput">
            <input type="submit">
        </form>
    </div>

</body>
</html>