<div class="sendMessages">
    <h1 class = "headers">Send Messages</h1>
    <p style = "color: green;">You have sent {{template_sent_messages|length}} messages so far</p>
    {%for each in template_users%}
        <div class="aMessage">
            <form action="/postmessage" method = "POST" class = "msgForm">
                <input type="hidden" name = "received" value = "{{each['id']}}">
                <label for="message">{{each["first_name"]}} {{each["last_name"]}}</label>
                <textarea class = "messageInput" name="message" id="message" cols="30" rows="5"></textarea>
                <input type="submit" value = "send" id = "submitMsg">
            </form>
        </div>
    {%endfor%}
</div>