<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEATER!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="lose">
        <h1>STOP TRYING TO GAME THE SYSTEM!!!!</h1>
        <H2>Using the back and refresh buttons to win are frowned upon in this institution</H2>
        <button onclick="location.href = '/reset'" type = "button">PLAY AGAIN?</button>
    </div>
</body>
</html>