<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.R. Pets</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <h1>All The Pets!</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {%for pet in template_pets%}
                    <tr>
                        <th scope="row">{{pet["pet_id"]}}</th>
                        <td>{{pet["name"]}}</td>
                        <td>{{pet["type"]}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <hr>
        <h1>Add A Pet</h1>
        <div class="petForm">
            <form action = "/addPet" method = "POST">
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput" name = "nameInput">
                </div>
                <div class="form-group">
                    <label for="typeInput">Type</label>
                    <input type="text" class="form-control" id="typeInput" name = "typeInput">
                    <br>
                    <input type="submit" value = "Add Pet">
                </div>
            </form>
        </div>


    </div>
</body>

</html>